@keyframes carLeftToRight {
	0% {
		left: -200%;
	}

	100% {
		left: calc(100vw - (100vw - 100%) + 20%);
	}
}

@keyframes carRightToLeft {
	0% {
		left: calc(100vw - (100vw - 100%) + 20%);
	}

	100% {
		left: -200%;
	}
}
